<mat-grid-list cols="4" rowHeight="1:1" gutterSize="16px">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="product.thumbnail" alt="{{ product.title }}" />
      <mat-card-content>
        <p>{{ product.description | slice : 0 : 100 }}...</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button
                mat-fab
                aria-label="Example icon button with a delete icon"
              >
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
